<div class="header">
  <ul class="navigation">
    <li class="logo">
      <div routerLink="/teacher-home-view">
        <img src="/Cyberlablogo01.png" alt="CyberLabLogo" class="uwp-logo"/>
      </div>
    </li>

    <li class="user">
      <div class="user-profile">
        <p class="username">Username</p>
        <div>
          <img class="profile-icon" src="/defaultProfile.png" alt="Profile Picture" />
        </div>
        <a class="user-dropdown" routerLink="/">
          Logout
        </a>
      </div>
    </li>
  </ul>
</div>
