.mainBody {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
}

.objectivesBody {
    width: 50%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    overflow-y: auto;
    overscroll-behavior: none;
}

.virtualMachineBody {
    flex-grow: 1;
    background-color: #1F1F1F;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    overflow-y: hidden;
    
}

#objectiveTitle {
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #0167B1;
    color: white;
    padding: 0;  
    line-height: 60px; 
    font-size: xx-large;
    position: sticky; 
    top: 0;
    box-sizing: border-box; 
}

.barContainer {
    background-color: #D0D0D0;
    color: #0167B1;
    width: 100%;
    position: sticky;
    top: 60px;
    height: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.progressBar {
    height: 40px;
    width: calc(100% - 60px);
    padding-left: 15px;
    padding-right: 15px;
}

#questions {
    width: 100%; 
    flex-grow: 1;
    overflow-y: auto;
    height: 100%; 
    background-color: lightgray;
}

.question-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left; 
    gap: 0px;    
    margin-left: 10px;
    margin-right: 15px;
    justify-content: flex-start;    
}

.question-header{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.question-number {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background: #3F3F46;
    font-size: 16px;
    font-weight: bold;
}

.question-text {
    margin-top: 6px;
    padding-left: 0; 
    flex-grow: 1; 
    text-align: left;      
}

.answer-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 40px;
    margin-right: 18px;
}

.question-input{
    margin-top: 10px; 
    margin-left: 50px; 
}


.answer-bubble {
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.answer-bubble:hover {
    background-color: lightgray;
}

.objectiveLowerBar {
    background-color: #3F3F46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 50%;
    bottom: 0;
}

.navButton {
    all: unset;
    color: #FFFFFF;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}