.mainComponent {
    margin: 80px auto;
    background-color: #ddd;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 3%;
    width: 80%;
    height: 60% auto;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

    ul {
        padding-left: 2%;
        list-style-type: none;
    }

    .createLab {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3F3F46;
        color: #FFFFFF;
        height: 54px;
        border-radius: 9px;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 24px;
    }

    .listTitle {
        height: 54px;
        width: 20%;
        background-color: #3F3F46;
        color: #FFFFFF;
        border-radius: 9px;
        padding: 0 20px;
        display: flex;
        align-items: center; /* Centers vertically */
        justify-content: flex-start; /* Aligns text to the left */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .labDescription, .learningObjective, .labName {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .labInput {
        flex-grow: 1;
        height: 50px;
        border-radius: 9px;
    }

    .topology {
        display: flex;
        gap: 10px;
    }

    .topologyButtons, .labFileManip, .fileManip {
        display: flex;
        gap: 10px;
    }

    .fileManip {
        height: 54px;
    }

  .fileManip div {
    background-color: #FFFFFF;
    color: #3F3F46;
    border-radius: 9px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  button {
    all: unset;
  }

  .navBar {
    display: flex;
    justify-content: left;
  }

  .navButton {
    height: 54px;
    background-color: #3F3F46;
    color: #FFFFFF;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 15%;
    border-radius: 9px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }

  .navButton:hover {
    background-color: #61616b;
  }

  .navButton:active {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
  }

  .spacer {
      flex-grow: 1; /* Pushes the two boxes apart */
  }
}



