.assignment-lab-view {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3F3F46;
  color: #FFFFFF;
  height: 54px;
  border-radius: 9px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
}

.componentList {
    margin: 80px auto;
    background-color: #ddd;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 3%;
    width: 80%;
    height: 60% auto;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);

    .orderBar {
      display: flex;
      align-content: center;
      justify-content: space-between;
      gap: 10px;
      margin: 0;
      padding: 0;
    }
    .search, .sortByDate, .sortByTime {
      border-radius: 12px;
    }

  .search {
    flex-grow: 1;
    padding-left: 1%;
    font-size: 16px;
    font-weight: 400;
    border-style: solid;
  }

  .sortByTime, .sortByDate {
    border: none;
    background-color: #3f3f46;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.4);
  }

  .sortByDate:hover, .sortByTime:hover {
      background-color: #4e4e57;
  }

  .sortByDate:active, .sortByTime:active {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
  }

  .components {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .addButton {
    align-items: center;
    background-color: #02437d;
    border-radius: 12px;
    border-style: none;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 54px;
    justify-content: space-between;
    padding: 0 1em 0 1.5em;
    text-decoration: none;
    width: 100%;
  }

  .navBar {
    display: flex;
    justify-content: left;
  }

  .navButton {
    height: 54px;
    background-color: #3F3F46;
    color: #FFFFFF;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 15%;
    border-radius: 9px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }

  .navButton:hover {
    background-color: #61616b;
  }

  .navButton:active {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
  }

  .addIcon {
      font-size: 24px;
      color: #FFFFFF;
  }

  .panel {
      background-color: #02437d;
      color: #FFFFFF;
  }

  .panel .mat-expansion-panel-header {
    background-color: #02437d;
    --mat-expansion-header-indicator-color: rgba(255, 255, 255, 255);
    height: 54px;
    min-width: 54px;
    line-height: 54px;
    font-size: 16px;
    font-weight: 400;
  }

  .mat-expansion-panel-body {
      overflow: hidden;
  }

  .item {
      all: unset;
      padding-top: 10px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 10px; /* Adds spacing between buttons */
      
  }

  .dynamicLabItem, .dynamicAssignmentItem {
      background-color: #036dc9;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
  }

  .dynamicLabItem:hover, .dynamicAssignmentItem:hover {
      background-color: #0056b3;
  }

  .panel .mat-expansion-panel-header:hover, .addButton:hover {
      background-color: #036dc9;
  }

  .mat-expansion-panel-header:active, .addButton:active {
      box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
  }

  .panel.mat-expanded {
      background-color: #FFFFFF;
      color: #3f3f46;
      align-items: center;
  }

  .panelTitle, .panelDesc {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
  }

  .panel .mat-expansion-panel-header {
    --mat-expansion-header-indicator-color: rgba(255, 255, 255, 255);
  }

  .mat-expansion-indicator::after {
      transform: rotate(225deg) !important;
  }
}
