<app-header></app-header>

<article class="main-container">
  <ul class="components">
    <li class="course-view">Course View</li>

    <mat-accordion>
      <button mat-button routerLink="/student-courses" class="course">
        Course 101
        <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
      </button>
    </mat-accordion>

    <mat-accordion>
      <button mat-button routerLink="/student-courses" class="course">
        Course 102
        <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
      </button>
    </mat-accordion>

    <mat-accordion>
      <button mat-button routerLink="/student-courses" class="course">
        Course 103
        <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
      </button>
    </mat-accordion>
  </ul>
</article>
