
.main-container{
  
    margin: 150px auto;
    background-color: #ddd;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 3%;
    width: 75%;
    height: 70% auto;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 

}

.panel-title{
  color: #FFFFFF;
  margin-right: 150px;
}

.panel{
  margin: 30px;
  background-color: #02437d;
  
  
}


 .course-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F3F46;
    color: #FFFFFF;
    height: 54px;
    border-radius: 9px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
  }
  


.arrow{
  display: flex;
  justify-content: flex-end;
  color: #FFFFFF
}


.components{
  display: flex;
  flex-direction: column;
  gap:12px;
}


.course{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #02437d;
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  border-radius: 12px;
  height: 54px;
  padding: 0 1em 0 1em;
}





